body {
    background-image: url('decrypty me.jpg');
    background-repeat: no-repeat;
    background-size: 100% 800px;
  }

.p-brand
{
    color:white; position: absolute;top: 50%;width: 100%;text-align: left;font-size: 18px; padding: 0px 200px;
}

.p-qoute
{
    color:white; position: absolute;top: 50%;width: 100%;text-align: left;font-size: 18px; padding: 30px 200px;
}
.btn-login{
    position: absolute; top: 50%;padding: 70px 200px;font-size: 18px;
}